:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    --main-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    color: black;
}

main{
    width: 100%;
    /* height: 100vh; */
    height: calc(100vh - 18px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--main-BG);
}

.card{
    width: 280px;
    min-width: auto;
    padding: 12px;
    border-radius: 12px;
    

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--card-BG);
}

.card__img{
    width: 100%;
    border-radius: 12px;
}


.card__content{
    width: 100%;
    margin: 20px 0;

    font-family: 'Outfit', sans-serif;
}
.card__content h2{
    font-size: 1.8rem;
    margin-bottom: 12px;
    color: var(--white);
}
.card__content p{
    font-size: 1.4rem;
    color: var(--soft-blue);
    
    line-height: 24px;
}


.card__description{
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 0.5px solid var(--line);

    display: flex;
    justify-content: space-between;

    font-family: 'Outfit', sans-serif;
}

.card__description span{
    display: block;
    font-size: 1.2rem;   
}
.card__description-eth{
    margin-bottom: 8px;
    margin-left: 16px;

    position: relative;
    font-weight: bold;
    color: var(--cyan);
    
}
.card__description-eth::after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    right: 52px;
    background-image: url(./images/icon-ethereum.svg);
    background-repeat: no-repeat;
}
.card__description-day{
    position: relative;
    color: var(--soft-blue);
    margin-bottom: 8px;
}
.card__description-day::before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    right: 58px;
    background-image: url(./images/icon-clock.svg);
    background-repeat: no-repeat;
}


.card__footer{
    width: 100%;
    display: flex;
    align-items: center;
    

    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
}
.card__footer img{
    width: 26px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: contain;
}
.card__footer .creation{
    font-weight: bold;
    color: var(--soft-blue);
}
.card__footer a{
    color: var(--white);
}

.hover:hover{
    color: var(--cyan);
}

.attribution{
    background-color: var(--line);
}
.attribution p{
    font-size: 1.6rem;
}
.attribution a{
    color: var(--white);
}